services:
  db:
    image: postgres:17
    restart: always
    ports: 
      - "5432:5432"
    environment:
      POSTGRES_DB: chats
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: pass123
    volumes:
      - "./postgres:/var/lib/postgresql/data"

